<div class="ms-3">
  <!-- Heading -->
  <h2 class="my-4 fw-bold d-inline-block bg-light">
    <span><i class="bi bi-plus-square"></i> Nowy Przepis</span></h2>

  <!-- Form -->
  <div class="m-1 col-lg-6 col-sm-10 col-md-8">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="ms-3">

      <!-- Recipe Name -->
      <div class="mb-3">
        <label for="name" class="form-label">Nazwa przepisu</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <span class="text-danger"
              *ngIf="(recipeFormControl['name'].touched || submitted) && recipeFormControl['name'].errors?.['required']">
          Nazwa jest wymagana
        </span>
      </div>

      <!-- Preparation time-->
      <div class="mb-3">
        <label for="timeToPrepare" class="form-label">Czas Przygotowania</label>
        <input type="text" class="form-control" id="timeToPrepare" formControlName="timeToPrepare" placeholder="Format H:mm">
        <span class="text-danger"
              *ngIf="(recipeFormControl['timeToPrepare'].touched || submitted) && recipeFormControl['timeToPrepare'].errors?.['required']">
          Czas przygotowania jest wymagany
        </span>
        <span class="text-danger"
              *ngIf="recipeFormControl['timeToPrepare'].touched && recipeFormControl['timeToPrepare'].errors?.['invalidTime']">
          Czas przygotowania musi być w formacie H:mm
        </span>
      </div>

      <!-- Ingredients -->
      <div class="mb-3">
        <label class="form-label">Składniki</label>
        <div formArrayName="ingredients" *ngFor="let ingredient of ingredients.controls; let i=index">
          <input type="text" class="form-control m-1" [formControlName]="i">
        </div>
        <br>
        <button type="button" class="btn btn-primary m-1" (click)="addIngredient()">
          <i class="bi bi-plus-circle"></i>
        </button>
        <button type="button" class="btn btn-danger m-1" (click)="removeIngredient()">
          <i class="bi bi-dash-circle"></i>
        </button>
      </div>

      <!-- Steps -->
      <div class="mb-3">
        <div class="mb-3">
          <label class="form-label">Kroki Przygotowania</label>
          <div formArrayName="steps" *ngFor="let step of steps.controls; let i=index">
            <input type="text" class="form-control m-1" [formControlName]="i">
          </div>
          <br>
          <button type="button" class="btn btn-primary m-1" (click)="addStep()">
            <i class="bi bi-plus-circle"></i>
          </button>
          <button type="button" class="btn btn-danger m-1" (click)="removeStep()">
            <i class="bi bi-dash-circle"></i>
          </button>
        </div>
      </div>

      <!-- Go Back/Save buttons-->
      <div class="mx-5 my-2">
        <a routerLink="/recipes" class="btn btn-outline-dark btn-lg float-start">
          <span><i class="bi bi-arrow-left text-2"></i> Wróć</span></a>
        <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-outline-primary btn-lg float-end">
          <span><i class="bi bi-check-square"></i> Zapisz</span></button>
      </div>

    </form>
  </div>
</div>
