<h2 class="mb-4">Nowy przepis:</h2>
<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="ms-3">

  <div class="mb-3">
    <label for="name" class="form-label">Nazwa przepisu</label>
    <input type="text" class="form-control" id="name" required formControlName="name">
  </div>

  <div class="mb-3">
    <label for="timeToPrepare" class="form-label">Czas Przygotowania</label>
    <input type="text" class="form-control" id="timeToPrepare" pattern="\d:\d\d" formControlName="timeToPrepare">
    <label for="timeToPrepare" class="form-text">Format H:mm</label>
  </div>

  <div class="mb-3">
    <div class="mb-3">
      <label class="form-label">Składniki</label>
      <div formArrayName="ingredients" *ngFor="let ingredient of ingredients.controls; let i=index">
        <input type="text" class="form-control" [formControlName]="i">
      </div><br>
      <button type="button" class="btn btn-primary m-2" (click)="addIngredient()">+</button>
      <button type="button" class="btn btn-danger m-2" (click)="removeIngredient()">-</button>
    </div>
  </div>

  <div class="mb-3">
    <div class="mb-3">
      <label class="form-label">Kroki Przygotowania:</label>
      <div formArrayName="steps" *ngFor="let step of steps.controls; let i=index">
        <input type="text" class="form-control" [formControlName]="i">
      </div><br>
      <button type="button" class="btn btn-primary m-2" (click)="addStep()">+</button>
      <button type="button" class="btn btn-danger m-2" (click)="removeStep()">-</button>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">+ Add Recipe</button>
</form>
