<div>
  <h5 (click)="toggleDetailsView()">{{recipe.name}}</h5> <button (click)="toggleDetailsView()">i</button>
  Czas przygotowania: {{recipe.timeToPrepare}} <br>
  <button (click)="onPlanClick(recipe.id)">Zaplanuj</button>
  <button (click)="onEditClick()">Edytuj</button>
  <button (click)="onDeleteClick(recipe.id)">Usuń</button>
</div>

<div *ngIf="detailsVisible">
  <p>Czas przygotowania: {{recipe.timeToPrepare}}</p>
  <div>
    <div>
      <h4>Składniki:</h4>
      <ul *ngFor="let ingredient of recipe.ingredients">
        <li>{{ingredient.name}}</li>
      </ul>
    </div>
    <p></p>
    <div>
      <h4>Przygotowanie:</h4>
      <ul *ngFor="let step of recipe.steps">
        <li>{{step.description}}</li>
      </ul>
    </div>
  </div>
  <button (click)="toggleDetailsView()">^</button>
</div>
