<div class="bg-light m-2 col-4">
  <div class="card border-3 border-primary rounded shadow-lg">

    <h3 class="card-header text-center">{{recipe.name}}</h3>

    <div class="card-body row">
      <div class="col-4 text-center">
        <h6>Czas przygotowania:</h6>
        <span class="lead text-danger">{{recipe.timeToPrepare}}</span>
      </div>
      <div class="col-8 text-center">
        <div class="btn-group btn-sm">
          <button class="btn btn-sm btn-outline-primary rounded-2 me-2" (click)="onPlanClick(recipe.id)">
            <span><i class="bi bi-check2-square"></i></span> Zaplanuj
          </button>
          <button class="btn btn-outline-warning rounded-2 me-2" (click)="onEditClick()">
            <span><i class="bi bi-pen"></i></span> Edytuj
          </button>
          <button class="btn btn-outline-danger rounded-2">
            <span><i class="bi bi-trash"></i></span> Usuń
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!detailsVisible" class="card-footer text-center p-0">
      <button class="btn" type="button" (click)="toggleDetailsView()">
        <span><i class="bi bi-chevron-compact-down"></i></span>
      </button>
    </div>


    <div *ngIf="detailsVisible" class="card-body row">
      <div class="col-5">
        <h5>Składniki:</h5>
        <ul *ngFor="let ingredient of recipe.ingredients">
          <li>{{ingredient.name}}</li>
        </ul>
      </div>
      <div class="col-7">
        <h5>Przygotowanie:</h5>
        <ul *ngFor="let step of recipe.steps">
          <li>{{step.description}}</li>
        </ul>
      </div>
    </div>

    <div *ngIf="detailsVisible" class="card-footer text-center p-0">
      <button class="btn" type="button" (click)="toggleDetailsView()">
        <span><i class="bi bi-chevron-compact-up"></i></span>
      </button>
    </div>


  </div>
</div>
