<div class="bg-light m-2 col-6 container">
  <div class="card border-3 border-primary rounded">
    <h3 class="card-header text-center">{{recipe.name}}
      <button class="btn" (click)="toggleDetailsView()">
        <span><i class="bi bi-info-square"></i></span>
      </button>
      <button class="btn col-1 float-end">
        <span><i class="bi bi-trash text-danger"></i></span>
      </button>
    </h3>
    <div class="card-body row">
      <div class="col-6 text-center">
        <h6>Czas przygotowania:</h6>
        <span class="lead text-danger">{{recipe.timeToPrepare}}</span>
      </div>
      <div class="col-6 text-center">
        <div>
          <button class="btn btn-outline-primary me-3" (click)="onPlanClick(recipe.id)">
            <span><i class="bi bi-check2-square"></i></span> Zaplanuj
          </button>
          <button class="btn btn-outline-warning" (click)="onEditClick()">
            <span><i class="bi bi-pen"></i></span> Edytuj
          </button>
        </div>
      </div>
    </div>
    <div class="card-footer text-center p-0">
      <button class="btn">
        <span><i class="bi bi-chevron-compact-down"></i></span>
      </button>
    </div>
  </div>

  <div *ngIf="detailsVisible">
    <p>Czas przygotowania: {{recipe.timeToPrepare}}</p>
    <div>
      <div>
        <h4>Składniki:</h4>
        <ul *ngFor="let ingredient of recipe.ingredients">
          <li>{{ingredient.name}}</li>
        </ul>
      </div>
      <p></p>
      <div>
        <h4>Przygotowanie:</h4>
        <ul *ngFor="let step of recipe.steps">
          <li>{{step.description}}</li>
        </ul>
      </div>
    </div>
    <button (click)="toggleDetailsView()">^</button>
  </div>
</div>
