<div class="modal fade" id="ingredientList" tabindex="-1" aria-labelledby="ingredientList" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal content">
      <div class="modal-header">
        <h3 class="modal-title">Lista produktów</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let ingredient of ingredientList">
          <ul>
            <li>{{ingredient.name}}</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary">
          <span><i class="bi bi-list-check"></i></span>Stwórz listę zakupów!
        </button>
      </div>
    </div>
  </div>
</div>
