<div>

  <!-- Navbar -->
  <nav class="navbar sticky-top bg-light mb-3">
    <div class="container-fluid">
      <h1 class="navbar-brand text-decoration-underline text-secondary fw-bold">Serv It Application</h1>
      <div class="justify-content-end col-xl-2 col-md-8">
        <a routerLink="/add-recipe" class="btn btn-primary text-center me-2">
          <span><i class="bi bi-plus-square"></i></span> Dodaj Przepis</a>
        <a href="#planned" class="btn btn-outline-info">
          <span><i class="bi bi-arrow-up-square"></i></span> Zaplanowane
        </a>
      </div>
    </div>
  </nav>

    <!-- Planned recipes section -->
    <div id="planned" class="col-12 d-flex justify-content-center mb-3">
      <app-planned-recipes></app-planned-recipes>
    </div>

  <!-- Header -->
  <div class="col text-center">
    <h3><i class="bi bi-book"></i> Przepisy:</h3>
  </div>

  <!-- List of single recipe cards-->
  <div class="row m-1">
    <div *ngFor="let recipe of recipesList;" class="card-deck m-0 my-1 col-xl-4 col-md-8 col-xs-10">
      <div class="card border-3 border-primary rounded shadow-sm">
        <app-single-recipe [recipe]="recipe"></app-single-recipe>
      </div>
    </div>
  </div>
</div>

