<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serv It App</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <style>
        .right {
            float: right;
        }
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
<form class="right" method="post" th:action="@{/logout}">
    <input type="submit" value="Wyloguj się"><br>
</form>
<header class="center">
    <h1>Serv It</h1><br>
    <div>
        <a href="/recipes/add">
            <button>Dodaj przepis</button>
        </a>
        <a href="/recipes">
            <button>Zobacz wszystkie przepisy</button>
        </a>
    </div>
</header>
</body>
</html>