<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServIt Application</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <style>
        .inline {
            display:inline-block;
            margin-right:5px;
        }
    </style>
</head>
<body>
<h2>Lista zakupów:</h2><br>
<!--/*@thymesVar id="recipes" type="io.github.mnitek.servit.model.Ingredient"*/-->
<ul th:each="i:${ingredients}">
        <li th:text="${i.name}"></li>
</ul>
<form class="inline" method="post" th:action="@{/ingredients/tolist}">
    <button type="submit">Stwórz listę zakupów</button>
</form>
</body>
</html>