<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serv It</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>
<body class="center">
<header>
    <fieldset>
        <h1>Logowanie</h1><br>
        <div th:if="${error}">
            Hasło lub nazwa użytkownika jest nie poprawne
        </div>
        <form method="post" th:action="@{/login}" id="loginForm">
            <label for="username">Nazwa użytkownika</label>
            <input type="text" name="username" id="username"/>

            <label for="password">Hasło</label>
            <input type="password" name="password" id="password"/>

            <button type="submit">Zaloguj się</button><br>
        </form>
        <a href="/register">
            <button>Zarejestruj</button>
        </a>
    </fieldset>
</header>

</body>
</html>