<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serv It Application</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <style>
        .inline {
            display:inline-block;
            margin-right:5px;
        }

        .Plan {
            font-size: large;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h2 th:if="${msg != null}" th:text="${msg}"></h2>
<fieldset>
    <legend>Zaplanowane:</legend>
    <div th:each="recipe:${recipes}" th:if="${recipe.planned == true}">
        <span class="Plan" th:text="${recipe.name}"></span>
        <a th:href="@{/recipes/plan/{id}(id=${recipe.id})}">Usuń z listy</a>
    </div>
    <br>
    <form class="inline" method="get" th:action="@{/ingredients}">
        <button type="submit">Lista zakupów</button>
    </form>
</fieldset>
<h2>Przepisy:</h2><br>
<!--/*@thymesVar id="recipes" type="io.github.mnitek.servit.model.Recipe"*/-->
<ul th:each="recipe:${recipes}">
    <fieldset>
        <label>
            <a th:href="@{/recipes/{id}(id=${recipe.id})}">
                <h3 th:text="${recipe.name}"></h3>
            </a>
            <span th:text="|czas przygotowania: ${recipe.timeToPrepare}|"></span><br>
            <p>
                <form class="inline" th:action="@{/recipes/plan/{id}(id=${recipe.id})}">
                    <button type="submit">Zaplanuj</button>
                </form>
            <form class="inline"  method="get" th:action="@{/recipes/edit/{id}(id=${recipe.id})}">
                <button class="inline" type="submit">Edytuj</button>
            </form>
                <form class="inline" th:action="@{/recipes/delete/{id}(id=${recipe.id})}">
                    <button class="inline" type="submit">Usuń</button>
                </form>
            </p>
        </label>
    </fieldset>
</ul>


</body>
</html>