<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serv It Application</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>

<div th:object="${recipe}">
    <legend>Nazwa</legend>
    <span th:text="*{name}">nazwa</span><br>

    <legend>Czas przygotowania</legend>
    <span th:text="*{timeToPrepare}">Czas przygotowania</span><br>

    <legend>Składniki</legend>
    <!--/*@thymesVar id="ingredients" type="io.github.mnitek.servit.model.Recipe"*/-->
    <ul>
        <div th:each="ingredient:*{ingredients}">
            <li th:text="${ingredient.name}">składnik</li>
        </div>
    </ul>

    <legend>Przygotowanie</legend>
    <ol>
        <div th:each="step:*{steps}">

            <li th:text="${step.description}">kroki</li>
        </div>
    </ol>

    <legend>Zaplanowane:</legend>
    <input type="checkbox" th:value="${id}"/>
    <span th:text="*{planned}">Zaplanowane</span>
</div>
</body>
</html>