<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serv It</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <style>
        .center {
            text-align: center;
        }
        .C\(red\) {
            color: red;
        }
    </style>
</head>
<body class="center">
<header>
    <fieldset>
<h1>Rejestracja</h1><br>


<form method="post" th:action="@{/register}" id="registrationForm">
    <label for="username">Nazwa użytkownika</label>
    <input type="text" name="username" id="username"/>

    <label for="password">Hasło</label>
    <input type="password" name="password" id="password"/>

    <label for="confirm">Potwierdź hasło</label>
    <input type="password" name="confirm" id="confirm"/>

    <button type="submit">Zarejestruj się</button>
</form>
    </fieldset>
</header>
</body>
</html>